<div class="about-section-container">
  <div class="about-intro info-card left-pos">
    <h3>Introduction</h3>
    <p>
      My name is Hemny Singh. A web developer with a passion for technology based on Bangalore. Currently work as Tech Associate in Hashedin Technologies. Been developing cool and fascinating Web applications both on the smaller and larger scales, in quick development cycles, following an Agile methodology.
    </p>
  </div>
  <div class="about-education info-card right-pos">
    <h3>Education & Skills </h3>
    <ul>
     <li>I graduated from Indian Institute of Information Technology, Allahabad.</li>
     <li><strong>Expert: </strong> Javascript, ReactJS, AngularJS, SASS, Bootstrap, CSS3, HTML5, jQuery, Webpack, Bower, Gulp</li>
     <li>I have exposure of Python, Django, C, C++</li>
     <li><strong>Version Control & Issue Management Tools: </strong>GitHub, BitBucket, Perforce, JIRA, Bugzilla, Lean</li>
     <li><strong>CI & Deployment: </strong>Jenkins, AWS - EBS, S3, EC2, Heroku</li>
     <li><a href="img/HemnySingh-Resume.pdf" target="_blank">Download my Resume</a> for more detail.</li>
    </ul>
  </div>
  <div class="about-achievements info-card left-pos">
    <h3>Achievements</h3>
    <ul>
      <li>Top Performer of the Half for good quality code and on time delivery (July 2016 - Dec 2016)</li>
      <li>Top Performer of the Half for good quality code and on time delivery (Jan 2015 - June 2015)</li>
      <li>Got AWS accreditation Training certificate</li>
    </ul>
  </div>
  <div class="about-strength info-card right-pos">
    <h3>Key Strengths</h3>
    <ul>
      <li>Fast Learner</li>
      <li>Logical Thinker</li>
      <li>Creative Problem Solver</li>
      <li>Team Player</li>
    </ul>
  </div>
</div>
