<footer>
  <div class="f-bottom">
    <div class="f-align"><span class="copyright">© 2017 coded by Hemny Singh</span>
      <ul class="f-social">
        <li><a href="https://twitter.com/hemnysingh455" class="fa fa-twitter fa-2" aria-hidden="true" target="_blank"></a></li>
        <li><a href="https://www.facebook.com/hemny059" class="fa fa-facebook" aria-hidden="true" target="_blank"></a></li>
        <li><a href="mailto:hemnysingh455@gmail.com" class="fa fa-google" target="_blank"></a></li>
        <li><a href="https://in.linkedin.com/in/hemnysingh" class="fa fa-linkedin" aria-hidden="true"target="_blank"></a></li>
        <li><a href="https://github.com/hemny-singh" class="fa fa-github" aria-hidden="true" target="_blank"></a></li>
      </ul>
    </div>
  </div>
</footer>
{% js vendor %}
{% js main %}
