<div class="project-container-wrapper">
  <div>
    <img src="/img/networking.jpg" />
    <div class="overlay">
      <div class="text">Networking
        </br>
        <a href="networking-vendor-projects" target="_blank" class="view-more">Details</a>
      </div>
    </div>
  </div>
  <div>
    <img src="/img/p4p.jpg" />
    <div class="overlay">
      <div class="text">Pet Resort
        </br>
        <a href="pet-resort" target="_blank" class="view-more">Details</a>
      </div>
    </div>
  </div>
  <div>
    <img src="/img/e-commerce.jpg" />
    <div class="overlay">
      <div class="text">E-Commerce
        </br>
        <a href="e-commerce" target="_blank" class="view-more">Details</a>
      </div>
    </div>
  </div>
  <div>
    <img src="/img/analytics-prime.jpg" />
    <div class="overlay">
      <div class="text">Dashboard & Analytics
        </br>
        <a href="dashboard-and-analytics-projects" target="_blank" class="view-more">Details</a>
      </div>
    </div>
  </div>
  <div>
    <img src="/img/miscs.jpg" />
    <div class="overlay">
      <div class="text">Miscellaneous
        </br>
        <a href="misc-projects" target="_blank" class="view-more">Details</a>
      </div>
    </div>
  </div>
  <div>
    <img src="/img/hobby.jpg" />
    <div class="overlay">
      <div class="text">Hobby Projects
        </br>
        <a href="hobby-projects" target="_blank" class="view-more">Details</a>
      </div>
    </div>
  </div>
</div>
