<div class="projects-brief">
  <div class="image-container">
    <img src="/img/dashboard.jpg"/>
    <div class="overlay">
      <a class="text" href="dashboard-and-analytics-projects">Dashboard & Analytics</a>
    </div>
  </div>
  <div class="image-container">
    <img src="/img/networking.png" />
    <div class="overlay">
      <div class="text">Network Vendor</div>
    </div>
  </div>
  <div class="image-container">
    <img src="/img/petResort.jpg" />
    <div class="overlay">
      <div class="text">Pet Resort</div>

    </div>
  </div>
</div>
