<div class="project-container-wrapper">
  <div><img src="/img/aruba.png" /></div>
  <div><img src="/img/p4p.png" /></div>
  <div><img src="/img/easytaaza.png" /></div>
  <div><img src="/img/squealy.png" /></div>
  <div><img src="/img/miscs.png" /></div>
  <div><img src="/img/hobby.jpg" /></div>
</div>
<!-- <div class="image-container">
    <img src="/img/dashboard.jpg"/>
    <div class="overlay">
      <div class="text">Dashboard & Analytics
        </br>
        <a href="dashboard-and-analytics-projects" target="_blank" class="view-more">Details</a>
      </div>
    </div>
  </div>
  <div class="image-container">
    <img src="/img/networking.png" />
    <div class="overlay">
      <div class="text">Networking Vendor
        </br>
        <a href="networking-vendor-projects" target="_blank" class="view-more">Details</a>
      </div>
    </div>
  </div>
  <div class="image-container">
    <img src="/img/petResort.jpg" />
    <div class="overlay">
      <div class="text">Pet Resort
        </br>
        <a href="pet-resort"  target="_blank" class="view-more">Details</a>
      </div>
    </div>
  </div> -->
