html {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
}

.section-heading {
  color: $highlight1;
  text-align: center;
  font-family: 'Roboto Bold';
  font-size: 5em;
  animation-duration: 2s !important;
  animation-delay: 0.75s !important;
  animation-iteration-count: infinite;
  -moz-animation-duration: 3s;
  -moz-animation-delay: 2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
}

.first-section {
  background-image: url(/img/first-section.jpg);
  width: 120vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  overflow: hidden;
}

.third-section {
  height: 100%;
  .third-section-sticky {
    background: $highlight3;
    width: 50%;
    height: 678px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    h2 {
      color: $white-color;
    }
  }
  .third-section-content {
    width: 50%;
    float: right;
    top: 0;
    .projects-brief {
      img {
        width: 100%;
      }
    }
  }
}

.sticky-stopper {
  display: block;
  clear: both;
}

.contactus-section {
  min-height: 150vh;
  width: 100%;
  background: $black-color;
}

.about-section {
  min-height: 164.5vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  background-image: url(/img/about-section.jpg);
}

.first-section-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
}

.about-section-overlay {
  position: absolute;
  left: 0;
  top: 100vh;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
  .about-section-container {
    padding-left: 50px;
    padding-right: 50px;
  }
 }

.intro {
  color: $white-color;
  opacity: 1;
  font-family: 'Roboto Bold';
  min-height: 100vh;
  padding-left: 100px;
  padding-top: 100px;  
  > h1 {
    font-size: 5.5em;
  }
  
  > h2 {
    font-size: 5em;
  }

  .intro-dynamic {
    color: $highlight1;
  }
  
  .ui-effects-wrapper {
    display: inline;
  }
}

.info-card {
  -webkit-box-shadow: 28px 21px 0px 2px $highlight1;
  -moz-box-shadow: 28px 21px 0px 2px $highlight1;
  box-shadow: 28px 21px 0px 2px $highlight1;
  background-color: $white-color;
  display: block;
  width: 53%;
  padding: 2em;
  margin-bottom: 2em;

  h3 {
    font-size: 1em;
    font-family: 'Roboto';
    color: $highlight2;
    font-weight: bolder;
    margin: 0;
    padding: 0;
  }

  &.left-pos {
    float: left;
    clear: left;
  }

  &.right-pos {
    float: right;
    clear: left;
  }
}

.image-container {
  position: relative;
  width: 618px;
  margin: 15px;
  .overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background: rgba(139,195,74, 0.7);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  &:hover .overlay {
    width: 100%;
    left: 0;
  }

  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}
